// Include all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Body
$body-bg-color: #dfdfdf;
$body-text-color: #4d4d4d;

body {
    background-color: $body-bg-color;
    color: $body-text-color;
}

.main-content {
    margin-top: 10px;
}

.top-margin {
    margin-top: 10%;
}