// Include all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

@import 'NavBar.scss';
@import 'Spinner.scss';

$body-bg-color: #ffffff;
$body-text-color: #4d4d4d;

body {
    background-color: $body-bg-color;
    color: $body-text-color;
}

.font-sm {
    font-size: 11px;
}